.elapsed-container {
  width: 300px;
}

.elapsed-bar {
  background-color: red;
  height: 10px;
}
.wrapper {
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.2rem;
  color: var(--total-income);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

