.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;

  .font22 {
    font-size: 20px;
    margin: 5px;
    > span {
      margin: 4px;
    }
  }
}

.icons {
  width: 2.4rem;
  height: 2.4rem;
}
